@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); /*Inter font*/
@font-face {
  font-family: 'Ethnocentric';
  src: url('./assets/fonts/ethnocentric\ rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000212;
  overflow-x: hidden;
  user-select: none;
}

#footer {
  min-height: 108px;
  background: #000212;
  padding: 2vw 10vw 2vw;
}
#footer-left {
  max-width: 587px;
}
#footer-text {
  max-width: 527px;
  color: #c8cddc;
  /* font-family: "Inter", sans-serif; */
  font-weight: 500;
  size: 16px;
  line-height: 21.6px;
}
#footer-right {
  font-family: "Inter", sans-serif;
  line-height: 21.6px;
  size: 16px;
  font-weight: 700;
}